{% extends "base.html" %}
{% block title %}Area of Circle{% endblock %}

{% block content %}
<section class="works-section">
    <div class="tool-box">
        <h3>Area of a Circle Calculator</h3>
        <form method="POST">
            <input type="number" step="any" name="radius" placeholder="Enter radius" required>
            <button type="submit">Calculate</button>
        </form>

        {% if result %}
            <div class="result-box">
                <p><strong>Area of the circle:</strong> {{ result }}</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
