{% extends "base.html" %}
{% block title %}Uppercase Converter{% endblock %}

{% block content %}
<section class="works-section">
    <div class="tool-box">
        <h3>Convert String to Uppercase</h3>
        <form method="POST">
            <input type="text" name="inputString" placeholder="Enter a string" required>
            <button type="submit">Convert</button>
        </form>

        {% if result %}
            <div class="result-box">
                <p><strong>Converted string:</strong> {{ result }}</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
