{% extends "base.html" %}
{% block title %}Works{% endblock %}

{% block content %}
<section class="works-section">

    <h2>my little tools ✧</h2>

    <div class="tool-box">
        <h3>uppercase converter</h3>
        <a href="{{ url_for('touppercase') }}">
            <button type="button">open 💌</button>
        </a>
    </div>

    <div class="tool-box">
        <h3>area of a circle</h3>
        <a href="{{ url_for('areaofcircle') }}">
            <button type="button">open 💌</button>
        </a>
    </div>

    <div class="tool-box">
        <h3>area of a triangle</h3>
        <a href="{{ url_for('areaoftriangle') }}">
            <button type="button">open 💌</button>
        </a>
    </div>

    <div class="tool-box">
    <h3>linked list creator</h3>
    <a href="{{ url_for('linkedlist') }}">
        <button type="button">open 💌</button>
    </a>
</div>

<div class="tool-box">
    <h3>infix → postfix converter</h3>
    <a href="{{ url_for('infixpostfix') }}">
        <button type="button">open 💌</button>
    </a>
</div>


    {% if result is not none %}
    <div class="result-box">
        <p><b>Result:</b> {{ result }}</p>
    </div>
    {% endif %}

</section>
{% endblock %}

