<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<body>

    <div class="centered-content">
        <h1>Convert String to Uppercase</h1>

    <form action="/touppercase" method="post">
        <label for="inputString">Enter a string:</label>
        <input type="text" id="inputString" name="inputString">
        <input type="submit" value="Convert">
    </form>

        {% if result %}
        <p>Converted string: {{ result }}</p>
        {% endif %}
    </div>

    <footer>
    </footer> 
</body>
</html>
